/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
*/


a {
	word-break: break-all;
}

.wrap h2.nav-tab-wrapper {
	margin-bottom: 40px;
}
.sns-count-view {
	table-layout: fixed;
	max-width: 800px;
	width: 100%;
	margin-top: 10px;
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
}
.sns-count-view th,
.sns-count-view td {
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}
.sns-count-view th {
	border-bottom: 3px double #ccc;
	padding: 5px 10px;
	background-color: #f9f9f9;
}
.sns-count-view td {
	padding: 5px 10px;
}
.lower {
	margin-top: 2px;
}
.lower td {
	border-top: 0;
}
.sns-count-view td[class*="-icon"] {
	padding-left: 25px;
}
.f-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEVBWpetkJ/B2OD9/f1u7kTFAAAABHRSTlP///8AQCqp9AAAAC9JREFUCJlj+A8CBxjg1JN6MNWgD6YYIBT7fyTqH4R6wGCPRP1i24+pEi/1HxcFAP5BZuzVNvs+AAAAAElFTkSuQmCC') 10px 4px no-repeat;
}
.g-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEXcT0Hkmpbu6fP+/v7/LN5zAAAABHRSTlP///8AQCqp9AAAAFhJREFUCJlj+A8CBxjQqFdg6i+DPIh6wMAOohqy4kGUI1Bq9gGQ0P92IPUztNKxgYH7C0MFQwOQF1DXdoDB+f+DeqBcw/4GkIYLoowg6gvElH8O+VjsQ6YA41hd9Z+KSeMAAAAASUVORK5CYII=') 10px 4px no-repeat;
}
.l-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEUGeLR1frOxxtT9/f3KrFgxAAAABHRSTlP///8AQCqp9AAAADRJREFUCJlj+A8CBxjQqNcQygmFeg1T8htENR1sqAdRBxj0wdQOebDgH0LUtKt/4zHsQ6YAKJ5nP/BDgCMAAAAASUVORK5CYII=') 10px 4px no-repeat;
}
.h-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEVBfc6tl9HE6vj+/v40Ws0rAAAABHRSTlP///8AQCqp9AAAADpJREFUCJlj+A8CBxjwUR8YpL/IAyk95h8gSp8JmdJjB1MM3BBBRwh1AEbpg6hGsCn6ThCV0iAKj30AHYRaUz+jf84AAAAASUVORK5CYII=') 10px 4px no-repeat;
}
.p-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEXsQ1bviYfvveP9/f1zEY5fAAAABHRSTlP///8AQCqp9AAAAFRJREFUCJlj+A8CBxiwUv9CQ0PrDzB8YWBgkMegJBhUQJQ+ww8QxX/5A4hi/n8ASP1g+M+gf4DhD4MOgz3QFKAGoCn/HRgYQUZfYGAHUT8Z8nFYCwCzEE8alDTVhwAAAABJRU5ErkJggg==') 10px 4px no-repeat;
}
.alert-icon {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAgMAAADUeU0FAAAAA3NCSVQICAjb4U/gAAAADFBMVEVUTDW9qQf85wT+/v6JNGlaAAAABHRSTlP///8AQCqp9AAAAFxJREFUCJlj+A8CBxjQqcMQigFM/dWoB1F/VtmDqA9N/CDqUlM7iDrWNBlEeTUtBFFSk5YAqT9ay1bYH2D4smraKvkDDB9XNa3yP8DwITQ0lB8ox8DAYI9pHxIFAKujYMcve2H3AAAAAElFTkSuQmCC') 10px 4px no-repeat;
}
.eve {
	background: #f9f9f9;
}
.thumb {
	width: 75px;
}
.thumb img,
.thumb a {
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}
td.left {
	text-align: left;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
	background-color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	z-index: 2;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 3;
	color: #fff;
	cursor: default;
}
#paging {
	max-width: 800px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.tops #paging {
	margin-top: -20px;
}
.pagination {
	display: table;
	table-layout: fixed;
	margin: 0 0 0 auto;
}
.pagination li {
	display: table-cell;
}
.pagination > li > a,
.pagination > li > span {
	width: 100%;
	min-width: 42px;
	padding: 6px 0;
	border: 1px solid #ccc;
	color: inherit;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
	background: #cbcac9;
}
.pagination > .active > a,
.pagination > .active > span {
	background: #656463;
}
@media (max-width: 800px) {
	.sns-count-view.thead,
	td.post-date {
		display: none;
	}
	.sns-count-view td[class*="-icon"] {
		padding: 25px 0 5px 0;
	}
	.sns-count-view td {
		padding: 5px;
	}
	.thumb img,
	.thumb a {
		display: block;
		width: 45px;
		height: 45px;
		margin: 0 auto;
	}
	.thumb {
		width: 55px;
		padding: 0;
	}
	.pagination {
		width: 100%;
	}
	.pagination > li > a,
	.pagination > li > span {
		min-width: auto; min-width: initial; min-width: unset;
		border-right: none;
	}
	.pagination > li:last-child > a,
	.pagination > li:last-child > span {
		border-right: 1px solid #ccc;
	}
	.pagination .bothends {
		display: none;
	}
}
