/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
*/

.wpthk-field {
	border: 1px solid #ccc;
	padding: 0.35em 0.625em 0.75em 1em;
	margin: 1.35em 0 1.5em;
}

.wpthk-field-title {
	cursor: pointer;
	position: relative;
	margin: 0 5px;
	padding-left: 1.2em;
}

.wpthk-field-title::before {
	content: '';
	height: 0;
	width: 0;
	border: 0.4em solid transparent;
	position: absolute;
}
.wpthk-field-title::before {
	border-top: 0.4em solid #555;
	top: 35%;
	left: 0;
}
#wpthk-customize .label-title {
	margin: 15px 0 5px 0;
}
#wpthk-customize .control-title {
	margin: 20px 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}
#wpthk-customize p.checkbox {
	margin: 0 0 10px 0;
	line-height: 1.6;
}
#wpthk-customize p.radio {
	margin: 0 0 8px 0;
	line-height: 1.4;
}
#wpthk-customize p.checkbox input,
#wpthk-customize p.radio input {
	margin: 0 6px 3px 0;
	vertical-align: middle;
}
#wpthk-customize input[type="text"] {
	max-width: 320px;
	width: 100%;
}
#wpthk-customize input[type="number"] {
	max-width: 80px;
	width: 100%;
}
.wrap textarea.wpthk-edit,
.wpthk-field textarea.htaccess {
	font-family: Consolas, "Courier New", Courier, Monaco, monospace, "ＭＳ ゴシック", "MS Gothic", "Osaka−等幅";
	margin: 10px 0;
	max-width: 100%;
	font-size: 12px;
	background: #f9f9f9;
}
.wrap textarea.wpthk-edit {
	width: 1200px;
}
.wpthk-field textarea.htaccess {
	width: 760px;
}
.wrap h2.wpthk-customize-title {
	margin-bottom: 15px;
}
.wpthk-title-button-block {
	margin-left: 5px;
}
.wpthk-title-button {
	margin: 0 2px;
	padding: 9px 2px 4px 2px;
}
.wpthk-backup p.submit {
	margin: 0;
	padding: 0;
}

.wpthk-info {
	max-width: 1450px;
	margin: 30px 10px;
}
.wpthk-info .screenshots {
	float: left;
	margin: 0 30px 0 0;
	width: 55%;
	max-width: 880px;
	text-align: center;
}
.wpthk-info .screenshot {
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.wpthk-info .screenshot::after {
	content: "";
	display: block;
	padding-top: 75%; /* using a 4/3 aspect ratio */
}

.wpthk-info .screenshot img {
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.wpthk-info .info {
	width: 40%;
	float: left;
}
.wpthk-info .current-label {
	background: #32373c;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	padding: 2px 8px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 0 0 -10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wpthk-info .name {
	color: #23282d;
	font-size: 32px;
	font-weight: 100;
	margin: 10px 0 0;
	line-height: 1.3;
}

.wpthk-info .version {
	color: #72777c;
	font-size: 13px;
	font-weight: 400;
	float: none;
	display: inline-block;
	margin-left: 10px;
}

.wpthk-info .author {
	margin: 15px 0 25px;
	color: #72777c;
	font-size: 16px;
	font-weight: 400;
	line-height: inherit;
}

.wpthk-info .author a {
	text-decoration: none;
}

.wpthk-info .description {
	color: #555;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	margin: 30px 0 0 0;
}

.wpthk-info .tags {
	border-top: 3px solid #ddd;
	color: #82878c;
	font-size: 13px;
	font-weight: 400;
	margin: 30px 0 0 0;
	padding-top: 20px;
}

.wpthk-info .tags span {
	color: #444;
	font-weight: bold;
	margin-right: 5px;
}

.wpthk-info .parent-theme {
	background: #f7fcfe;
	border: 1px solid #eee;
	border-left: 4px solid #00a0d2;
	font-size: 14px;
	font-weight: normal;
	margin: 30px 0;
	padding: 10px 10px 10px 20px;
}

.wpthk-info .parent-theme strong {
	font-weight: 700;
}

@media only screen and (max-width: 780px) {
	.wrap h2.wpthk-customize-title {
		display: block;
	}
	.wpthk-info .info,
	.wpthk-info .screenshots {
		float: none;
		margin: 0 30px 0 0;
		width: 100%;
	}
	.wpthk-info .current-label {
		margin-top: 20px;
	}
}

/**
------------------------------------
 clearfix
------------------------------------ */
.wpthk-clearfix::before,
.wpthk-clearfix::after {
	display: table;
	content: " ";
}

.wpthk-clearfix::after {
	clear: both;
}

.bold {
	font-weight: bold;
}
.m10 {
	margin: 10px;
}
.m25-b {
	margin-bottom: 25px;
}
.f09em {
	font-size: 0.9em;
}
