@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?aqw2jx');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?aqw2jx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?aqw2jx') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?aqw2jx') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?aqw2jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-feedly:before {
  content: "\e600";
}
.ico-feedly-o:before {
  content: "\e601";
}
.ico-feedly-square:before {
  content: "\e602";
}
.ico-line:before {
  content: "\e700";
}
.ico-line-square:before {
  content: "\e701";
}
