/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* Layer */
#bwrap {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#layer {
	margin-top: -300px;
}
#layer #nav {
	top: 0
}
#layer #nav-bottom {
	border: 0;
}
