/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* Layer */
#bwrap {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#layer {
	position: absolute;
	width: 100%;
	z-index: 1100;
}
#layer li a {
	text-align: left;
	padding: 10px;
	font-size: 13px; font-size: 1.3rem;
	margin: 0;
	padding-left: 20px;
	width: 100%;
}
#layer li a:hover {
	text-decoration: none;
}
#layer li a::before {
	font-family: FontAwesome;
	padding-right: 10px;
	content: "\f0da";
}
#layer li[class*="children"] a {
	padding-left: 16px;
}
#layer li[class*="children"] li a {
	padding-left: 35px;
}
#layer li ul {
	border-bottom: 0;
}
#layer li li a::before{
	content: "-";
}

/* Mobile Search Form */
#sform {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 98%;
	height: 36px;
	max-width: 600px;
	margin: auto;
	padding: 2px;
	background: rgba( 0, 0, 0, .5 );
	border-radius: 5px;
	z-index: 1200;
}
#sform .search-form {
	position: relative;
	width: 100%;
	margin: auto;
}
#sform .search-field {
	height: 32px;
	font-size: 18px;
}
