/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
*/

div[class*="sns-"] {
	margin: 0;
	padding: 0;
}
div[class*="sns-"] li {
	margin: 5px 0;
	list-style-type: none;
}
div[class*="sns-"] .clearfix {
	padding: 0;
}
.snsb {
	padding:  0;
	margin: 0;
	line-height: 1.0;
	letter-spacing: -.4em;
}

.snsb li {
	display: inline-block;
	list-style-type: none;
	letter-spacing: normal;
	vertical-align: top;
	padding-right: 2px;
}

.sns-right {
	float: right;
}

.sns-n .snsb li:last-child {
	margin-right: 0;
}

li.google {
	max-width: 80px;
}
