/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */@charset "UTF-8";

/**
------------------------------------
 html タグの共通設定
------------------------------------ */
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body,
body.mceContentBody {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "MS Pｺﾞｼｯｸ", "MS Pゴシック", "ＭＳＰゴシック", "MSPゴシック", Osaka, Verdana, Arial, Helvetica, Roboto, sans-serif;
	background: #fdfcfb;
	color: #333231;
}
a {
	word-break: break-all;
	color: #0075c2;
}
a:hover, .term img:hover {
	color: #ee7800;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover img {
	opacity: 0.8;
}
hr {
	border-top: 1px dotted #999;
}
img, video, object, canvas, svg {
	max-width: 100%;
	height: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
pre, ul, ol {
	margin: 0 0 1.6em;
}
pre {
	margin-bottom: 30px;
}
blockquote {
	display: block;
	margin: 1.6em 5px;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 5px;
	margin-end: 5px;
	padding: 10px 20px;
	font-size: 14px; font-size: 1.4rem;
	background: #f5f4f3;
	border-left: 5px solid #dddcd9;
	border-radius: 10px;
}
blockquote ol:first-child, blockquote p:first-child, blockquote ul:first-child {
	margin-top: 5px;
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
	margin-bottom: 5px;
}
input[type="submit"],
input[type="text"],
input[type="email"],
.reply a {
	display: inline;
	line-height: 1.0;
	vertical-align: middle;
	padding: 6px 6px 5px 6px;
	border-radius: 4px;
	max-width: 100%;
}
.reply a,
input[type="submit"],
div[class$=-w] ul[class*=sns] li a,
.widget_categories select, .widget_archive select {
	color: #333;
	font-weight: normal;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #eee));
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	border: 1px solid #bbb;
	border-radius: 3px;
}
option,
textarea,
input[type="text"],
input[type="email"] {
	color: inherit;
	border: 1px solid #bbb;
	border-radius: 4px;
}
textarea {
	padding: 8px;
	max-width: 100%;
}

/* bootsrtap の 不要な margin と padding クリア */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

/*
------------------------------------
 WordPress Native Styles
------------------------------------ */
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.post .wp-caption-text,
.post .wp-caption-dd {
	font-size: 12px; font-size: 1.2rem;
	line-height: 1.5;
	margin: 0;
	padding: 0.5em 0;
}
.sticky .posted-on {
	display: none;
}
.bypostauthor > article .fn::after {
	content: "\f304";
	position: relative;
	top: 5px;
	left: 3px;
}
.gallery-caption {
	display: block;
	font-size: 12px; font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}

img[class*="wp-image-"],
img[class*="attachment-"] {
	max-width: 100%;
	height: auto;
}

/*
------------------------------------
 HEADER
------------------------------------ */
#head-in {
	margin-top: 28px;
}

/* Header Band */
.band {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
div[id*="head-band"] {
	margin: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	background: #f5f4f3;
	border-bottom: 1px solid #bbb;
}

.band-menu {
	position: relative;
	margin: auto;
}
.band-menu ul {
	font-size: 1px;
	margin: 0 -5px 0 0;
	position: absolute;
	right: 10px;
	list-style: none;
}
.band-menu li {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px; font-size: 1.2rem;
	margin: 0 3px;
	line-height: 1.0;
}
.band-menu li a {
	color: #333231;
	text-decoration: none;
}
.band-menu li a:hover {
	color: #ee7800;
}
.band-menu .menu-item a::before {
	display: inline;
	margin: 5px;
	line-height: 1.0;
	font-family: FontAwesome;
	content: "\f0da";
}

/* Header Band Follow Button*/
div[id*="head-band"] .snsf {
	display: block;
	min-width: 28px;
	height: 20px;
	margin: -2px -6px 0 0;
	text-align: center;
}
div[id*="head-band"] .snsf a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	letter-spacing: 0px;
	font-family: Verdana, Arial, Helvetica, Roboto;
	padding: 4px;
	border-radius: 2px;
}

/* Site Name */
.sitename {
	display: inline-block;
	margin: 0 0 12px 0;
	font-size: 28px; font-size: 2.8rem;
	font-weight: bold;
	line-height: 1.4;
}
.sitename a {
	color: inherit;
	text-decoration: none;
}
.sitename a:hover {
	opacity: 0.8;
}

/* Site Description */
.desc {
	line-height: 1.4;
}
/* outer container */
#header .head-cover {
	margin: auto;
}
#header #gnavi,
#foot-in {
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* inner container */
.container #header .head-cover,
.container #header #gnavi,
.container #foot-in {
	padding-left: 0;
	padding-right: 0;
}
.info {
	padding: 20px 10px 20px 10px;
}

.logo, .logo-up {
	margin: 15px auto -10px auto;
	text-align: center;
}
.logo-up {
	margin: 15px auto 0 auto;
}

/*
------------------------------------
 Global Navigation
------------------------------------ */
#nav {
	margin: 0;
	padding: 0;
	border-top: 1px solid #bbb;
	border-bottom: 4px solid #666;
	position: relative;
	z-index: 20;
}
#nav, #gnavi li a, .mobile-nav {
	color: #111;
	background: #f5f4f3;
}
#gnavi .mobile-nav {
	display: none;
}
#gnavi .nav-menu {
	display: block;
}
#gnavi ul {
	margin: 0;
	text-indent: 0;
	white-space: nowrap;
}
#gnavi li,
#gnavi li a {
	display: block;
	text-decoration: none;
	text-align: center;
}
#gnavi li {
	float: left;
	position: relative;
	list-style-type: none;
}
#gnavi li a {
	transition: 0.3s ease 0s;
	border-bottom: 0;
	padding: 8px 18px;
}
#gnavi li a:hover, div.mobile-nav:hover, ul.mobile-nav li:hover {
	color: #fff;
	background: #656463;
}
#gnavi li ul {
	display: none;
}

#gnavi .current-menu-item > a,
#gnavi .current-menu-ancestor > a,
#gnavi .current_page_item > a,
#gnavi .current_page_ancestor > a {
	background: none repeat scroll 0 0 #656463;
	color: #fff;
	font-weight: bold;
}

@media (min-width: 992px){
	#gnavi ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -moz-box;
		display: flex;
		-webkit-box-lines:multiple;
		-moz-box-lines:multiple;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	#gnavi li {
		-webkit-box-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		min-width: 1px;
		background: #656463;
	}
	#gnavi li ul {
		display: none;
		visibility: hidden;
		margin: 0;
		padding: 0;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-top: 4px solid transparent;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	#gnavi li li {
		width: 100%;
		min-width: 160px;
	}
	#gnavi li li a {
		border-top: none;
		border-bottom: 1px solid #ccc;
		font-size: 13px; font-size: 1.3rem;
		padding: 10px 15px;
		width: 100%;
		text-align: left;
	}
	#gnavi li:hover > ul {
		display: table !important;
		visibility: visible;
		border-collapse: separate;
		width: 100%;
		animation: moveY 0.3s 1 normal ease;
	}
}
@keyframes moveY {
	0% { top: 0; background: transparent; color: transparent; border: 0; }
	100% { bottom: 0;}
}

@media (max-width: 991px){
	#gnavi ul.mobile-nav {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin: 0;
		border: 0;
	}
	#gnavi div.mobile-nav {
		display: block;
		padding: 8px 20px;
		cursor: pointer;
	}
	#gnavi .mobile-nav li {
		display: table-cell;
		text-align: center;
		padding: 8px 10px;
		border: 0;
		float: none;
	}
	#gnavi .mobile-nav li i {
		font-size: 18px; font-size: 1.8rem;
		font-style: normal;
	}
	#gnavi ul {
		display: none;
		border: 0;
		border-bottom: solid 1px #ccc;
	}
	#gnavi li {
		display: block;
		float: none;
		width: 100%;
		padding-left: 0;
		text-align: left;
		line-height: 1.2;
		border-top: 1px solid #ccc;
		list-style: disc inside;
	}
	#gnavi p {
		font-size: 12px; font-size: 1.2rem;
		line-height: 1.0;
		margin: 6px 0 0 0;
	}
}

/*
------------------------------------
 Primary & Main Contents
------------------------------------ */
#primary {
	border: 1px solid transparent;
}
#core {
	margin: 0 10px 0 0;
	padding: 35px 25px 0 25px;
	border: 1px solid #ddd;
}
#core.lcore {
	padding: 0;
	border: 0;
}
#core.pcore,
.bottom-area {
	margin-bottom: 20px;
	background: #fff;
}
.bottom-area {
	padding: 30px 25px;
	border: 1px solid #ddd;
}

/*--------------------------------
 Breadcrumb List
---------------------------------*/
#breadcrumb {
	margin: 20px 10px 15px 10px;
}
#breadcrumb, #breadcrumb a {
	color: #989796;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#breadcrumb h1,
#breadcrumb li {
	display: inline;
	list-style-type: none;
	font-size: 13px; font-size: 1.3rem;
}
#breadcrumb i {
	margin-right: 3px;
}
#breadcrumb i.arrow {
	margin: 0 8px;
}

/*
------------------------------------
 Search Result & Sitemap Page Title
------------------------------------ */
.list-title {
	margin: 0 0 40px 0;
	padding: 5px 0;
	font-size: 22px; font-size: 2.2rem;
	border-bottom: 1px dotted #999;
}

/*
------------------------------------
 Common to thumbnail (List, Related, New Post)
------------------------------------ */
/* Thumbnail */
.term {
	margin-right: 10px;
}
.term img {
	float: left;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	background: inherit;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1.0) inset;
}
.term img:hover {
	border-color: #0075c2;
}
#related .term img {
	padding: 1px;
	width: 100px;
	height: 100px;
}
/* Read More */
.read-more-link,
.read-more-link i {
	text-decoration: underline;
}

/*
------------------------------------
 List Pages
------------------------------------ */
.entry-title, #front-page-title {
	font-size: 22px; font-size: 2.2rem;
	font-weight: bold;
	line-height: 1.2;
	border: none;
	background: none;
	margin: 0 0 15px 0;
	padding: 0 0 0 12px;
}
.entry-title a {
	color: inherit;
	text-decoration: none;
}
.entry-title a:hover {
	color: #ee7800;
}

#list {
	margin: 0 0 25px 0;
}
#list .toc {
	margin: 0 0 25px 0;
	padding: 35px 25px 0 25px;
	border: 1px solid #ddd;
	background: #fff;
}
#list .excerpt,
#list .excerpt p {
	margin: 0 0 12px 0;
	line-height: 1.8;
}

/* Read More */
#list .read-more,
#list .excerpt .read-more {
	clear: both;
	line-height: 1.0;
	margin: 35px 0 30px 0;
	text-align: right;
}
#list .read-more {
	margin: 0 0 30px 0;
}

/* Meta Information */
.meta, .post .meta {
	margin: 0;
	font-size: 14px; font-size: 1.4rem;
	color: #656463;
	background: #f8f7f6;
	margin-bottom: 45px;
	line-height: 1.4;
	vertical-align: middle;
	padding: 6px 10px;
}
.meta a {
	color: #656463;
	text-decoration: underline;
}
.meta i {
	margin: 0 5px 0 10px;
}
.meta i:first-child {
	margin-left: 0;
}

.meta-box {
	margin: 30px 10px;
}

.toc .meta-u,
.post .meta-u {
	line-height: 1.4;
	background: none;
	border: 0;
	margin: 0 0 10px 0;
	padding: 0;
}
.toc .meta-u {
	margin: 0 0 15px 0;
}
.post .meta-u {
	overflow: hidden;
	text-align: right;
}

/*
------------------------------------
 Pagination
------------------------------------ */
#paging {
	margin: 20px auto;
	text-align: center;
}
#paging ul {
	padding: 0;
}
#paging i {
	font-weight: bold;
}
#paging .not-allow i {
	font-weight: normal;
	opacity: 0.3;
}
.pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.pagination li {
	-webkit-box-flex: 1 1 42px;
	-webkit-flex: 1 1 42px;
	-moz-box-flex: 1 1 42px;
	-ms-flex: 1 1 42px;
	flex: 1 1 42px;
	max-width: 42px;
	min-width: 27px;
	float: left;
}

.pagination > li > a,
.pagination > li > span {
	display: inline-block;
	width: 100%;
	padding: 6px 0;
	color: inherit;
	border: 1px solid #ccc;
	border-right: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > .not-allow:first-child > span:hover {
	border-right: 1px solid #ccc;
}
.pagination > li > a:hover {
	background: #cbcac9;
}
.pagination > .active > span:hover,
.pagination > .not-allow > span:hover {
	cursor: text;
}
.pagination > .active > span {
	background: #656463;
}
.post #paging {
	margin-bottom: 50px;
}

/*
------------------------------------
 Post
------------------------------------ */
.post {
	padding-bottom: 10px;
	line-height: 1.8;
}
.post p {
	font-size: 16px; font-size: 1.6rem;
	margin: 0 0 1.6em;
}
.post a {
	text-decoration: underline;
}
.post h2, .post h3, .post h4, .post h5, .post h6 {
	line-height: 1.4;
	margin-top: 35px;
	margin-bottom: 30px;
}
.post h1:first-child {
	margin-top: 0;
}
.post h2:first-child,
.post h3:first-child {
	margin-top: 30px;
}
.post h2 {
	background: #faf9f8;
	border-left: 8px solid #999897;
	font-size: 20px; font-size: 2.0rem;
	font-weight: bold;
	padding: 10px 20px;
}
.post h3 {
	font-size: 18px; font-size: 1.8rem;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px #999 dotted;
}
.post h4 {
	font-size: 16px; font-size: 1.6rem;
	padding: 0 10px;
	border: 0;
	border-left: solid 16px #aaa;
}

/* Table */
.post table {
	margin-bottom: 30px;
}
.post td, .post th {
	padding: 8px 10px;
	border: 1px solid #ccc;
}
.post th {
	text-align: center;
	background: #f5f4f3;
}

/* List (bootstrap だとモバイルでリストマーク見えないので、その対策) */
.post ul,
.post ol {
	padding: 0 0 0 30px;
}

/* Author */
.post .vcard {
	text-align: right;
}
.post .vcard i {
	margin-right: 8px;
}

/*
------------------------------------
 SNS buttons
------------------------------------ */
#sns-tops {
	margin: -25px 0 45px 0;
}
#sns-bottoms {
	margin: 16px 0 45px 0;
}
.bottom-area #sns-bottoms {
	margin-bottom: 0;
}

.sns-msg h2 {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 8px;
	line-height: 1.0;
	font-size: 16px; font-size: 1.6rem;
	background: none;
	border: none;
	border-bottom: 5px solid #c8c7c6;
}

/*
------------------------------------
 Next / Prev Navigation
------------------------------------ */
.pnavi {
	clear: both;
	margin: 30px -25px 40px -25px;
	height: auto;
	overflow: hidden;
}
.pnavi .next,
.pnavi .prev {
	position: relative;
}
.pnavi .next {
	text-align: right;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.pnavi .prev {
	border-bottom: 1px solid #ddd;
}
.pnavi i {
	font-size: 22px;font-size: 2.2rem;
}
.pnavi .next-arrow,
.pnavi .prev-arrow {
	font-size: 18px; font-size: 1.8rem;
	position: absolute;
	top: 10px;
}
.pnavi .next-arrow {
	left: 20px;
}
.pnavi .prev-arrow {
	right: 20px;
}
.pnavi .ntitle,
.pnavi .ptitle {
	margin-top: 32px;
}
.pnavi img {
	height: 100px;
	width: 100px;
	border: 1px solid #ddd;
	border-radius: 8px;
}
.pnavi a {
	display: block;
	padding: 15px 20px;
	overflow: hidden;
	text-decoration: none;
	color: #888786;
	background: #f8f7f6;
	min-height: 132px;
}
.pnavi a:hover {
	color: #0075c2;
	background: #fefdfc;
}
.pnavi .block-span {
	display: block;
	margin-top: 35px;
}
.pnavi .next img,
.pnavi .no-img-next i {
	float: right;
	margin: 0 0 0 10px;
}
.pnavi .prev img,
.pnavi .no-img-prev i {
	float: left;
	margin: 0 10px 0 0;
}
.pnavi i.navi-home,
.pnavi .no-img-next i,
.pnavi .no-img-prev i {
	height: 100px;
}
.pnavi i.navi-home {
	font-size: 96px;
	padding: 2px 0 2px 25px;
}

.pnavi .no-img-next i,
.pnavi .no-img-prev i {
	font-size: 70px;
	padding: 15px 0 15px 25px;
}

@media (min-width: 1200px), (min-width: 540px) and (max-width: 991px) {
	.pnavi {
		border-bottom: 1px solid #ddd;
	}
	.pnavi .next, .pnavi .prev,
	.pnavi .next a, .pnavi .prev a {
		padding-bottom: 32767px;
		margin-bottom: -32752px;
	}
	.pnavi .next, .pnavi .prev {
		margin-bottom: -32767px;
		border-top: 1px solid #ddd;
		width: 50%;
	}
	.pnavi .next {
		float: right;
		border-left: 1px solid #ddd;
	}
}

/*
------------------------------------
 Related Post, Discussion
------------------------------------ */
.related,
.discussion,
.tb {
	font-size: 18px; font-size: 1.8rem;
	font-weight: bold;
	padding: 9px 20px;
	margin: 0 -25px 20px -25px;
	line-height: 2.0;
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #f5f4f3;
}
.related i,
.discussion i,
.tb i {
	margin-right: 10px;
}

/* Related Post */
#related {
	padding: 0;
}
#related .term img {
	float: left;
	margin: 8px 10px 8px 0;
}
#related h3 {
	font-size: 16px; font-size: 1.6rem;
	font-weight: bold;
	padding: 0;
	margin: 10px 0 10px 10px;
	border: none;
}
#related h3 a {
	color: inherit;
	text-decoration: none;
}
#related h3 a:hover {
	color: #ee7800;
}
#related .toc {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
#related .toc:last-child {
	margin-bottom: 30px;
	border-bottom: none;
}
#related p {
	margin: 10px;
	font-size: 13px; font-size: 1.3rem;
}
/* Read More */
#related .read-more {
	text-align: right;
	margin: 35px 20px 0 0;
}

p.no-related {
	padding: 10px 0 30px 0;
}

/*
------------------------------------
 Comments, Trackback
------------------------------------ */
#comments {
	position: relative;
	margin: 0;
	line-height: 20px;
	padding: 0 0 30px 0;
}

/*
------------------------------------
 Comments List
------------------------------------ */
#comments h3 {
	font-size: 16px; font-size: 1.6rem;
	border: none;
	margin-bottom: 10px;
}
#comments h3 i {
	font-size: 22px; font-size: 2.2rem;
	margin-right: 10px;
}
.comments-list, .comments-list li {
	border-bottom: 1px solid #ccc;
}
.comments-list li {
	margin-bottom: 20px;
}
.comments-list .comment-body {
	padding-bottom: 20px;
}
.comments-list li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
#comments p {
	font-size: 14px; font-size: 1.4rem;
	margin: 20px 0;
}
#comments label {
	display: block;
}

.comment-author.vcard .avatar {
	display: block;
	float: left;
	margin: 0 10px 20px 0;
}
.comment-meta {
	margin-bottom: 40px;
}
.comment-meta::after {
	content: " ";
	clear: both;
}
.fn {
	line-height: 1.6;
	font-size: 15px; font-size: 1.5rem;
}
.says {
	margin-left: 10px;
}
.commentmetadata {
	font-size: 14px; font-size: 1.4rem;
	height: 15px;
	padding: 10px 10px 10px 0;
}
.reply a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 60px;
	margin: 0 0 0 auto;
}
.comments-list {
	padding-left: 0px;
	list-style-type: none;
}
.comments-list li.depth-1 > ul.children {
	padding-left: 30px;
}
.comments-list li {
	list-style-type: none;
}
#comments #reply-title {
	padding: 10px 0;
}
#comments .no-comments {
	margin: 0 20px 20px 20px;
	padding: 10px 0 30px 0;
	border-bottom: 1px solid #ccc;
}

/*
------------------------------------
 Comment Pagination
------------------------------------ */
#c-paging {
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
}

/*
------------------------------------
 Comment Form
------------------------------------ */
#respond {
	font-size: 16px; font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px 0;
}
#commentform .tags {
	padding: 10px;
	font-size: 13px; font-size: 1.3rem;
}

#comments textarea {
	margin-bottom: 10px;
	width: 100%;
}

/* Comment Button */
#comments input[type="submit"] {
	padding: 8px 16px 7px 16px;
}

/* Trackback */
#trackback input {
	width: 100%;
	margin: 20px 0 40px 0;
}

/*
------------------------------------
 Sidebar
------------------------------------ */
#side .widget, #col3 .widget {
	word-break: break-all;
	margin: 0 6px 0 6px;
	padding: 15px 7px 20px 7px;
	border: 1px solid transparent;
}
#side ul, #col3 ul {
	margin-bottom: 0;
}
#side ul li, #col3 ul li {
	list-style-type: none;
	line-height: 2.0;
	margin: 0;
	padding: 0;
}
#side ul li li, #col3 ul li li {
	margin-left: 16px;
}
#side h3, #col3 h3,
#side h4, #col3 h4 {
	font-size: 16px; font-size: 1.6rem;
	font-weight: bold;
	background: #f3f2f1;
	margin: 0 0 15px 0;
	padding: 8px 10px;
}
div[id*="side-"] {
	padding: 10px 0;
}
div[id*="side-"], #col3 {
	border: 1px solid #ddd;
	background: #fff;
}

/* Search Form */
.search-field {
	border: 1px solid #bbb;
}

/* Calendar */
#wp-calendar {
	background: #fff;
}
#wp-calendar caption{
	background: #fff;
}
#wp-calendar #today {
	background: #ffec67;
	border: thin solid #ccc;
}
#wp-calendar .pad {
	background: #fff9f9;
}

/*
------------------------------------
 Footer
------------------------------------ */
#footer {
	clear: both;
	color: #656463;
	background: #f5f4f3;
	padding: 20px 0;
	border-top: 3px solid #656463;
	z-index: 10;
}
div[id*="foot-in"] a {
	color: #656463;
}

div[id*="foot-in"] h4 {
	font-size: 16px; font-size: 1.6rem;
	font-weight: bold;
	background: #ecebea;
	margin: 15px 0;
	padding: 8px 10px;
}

div[id*="foot-in"] ul li {
	list-style-type: none;
	line-height: 1.8;
	margin: 0 10px;
	padding: 0;
}
div[id*="foot-in"] ul li li {
	margin-left: 15px;
}
div[id*="foot-in"] .widget a {
	text-decoration: underline;
}

/* Copyright */
#footer .copy {
	font-size: 12px; font-size: 1.2rem;
	line-height: 1.0;
	margin: 20px 0;
	text-align: center;
}
#footer .copy a {
	color: inherit;
}

html #thk {
	font-size: 11px; font-size: 1.1rem;
	word-spacing: -1px;
}

/* PAGE TOP Button */
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-weight: bold;
	background: #656463;
	text-decoration: none;
	color: #fff;
	padding: 16px 20px;
	text-align: center;
	display: none;
	border-radius: 10px;
	opacity: 0.5;
	cursor: pointer;
	z-index: 30;
}
#page-top:hover {
	text-decoration: none;
	opacity: 1.0;
}

/*
------------------------------------
 Other
------------------------------------ */
/* external icon */
.ext_icon::after {
	font-family: FontAwesome;
	content: "\f08e";
	font-size: 0.8em;
	color: #0000ff;
	margin: 0 6px;
}

/* iframe Responsive */
.i-video, .i-embed {
	display: block;
	position: relative;
	overflow: hidden;
}
.i-video {
	padding-top: 25px;
	padding-bottom: 56.25%;
}
.i-video iframe, .i-video object, .i-video embed {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.i-embed iframe {
	width: 100%;
}

/* Adsense */
#adsense {
	margin-bottom: 50px;
}
#adsense .ad-label {
	margin: 0 0 5px 10px;
}
.ad-1, .ad-2 {
	display: inline-block;
}
.ad-1, .ad-2,
.ad-1-row, .ad-2-row {
	margin: 0;
	padding: 0;
	width: 336px;
}
.ad-1-row {
	margin-bottom: 20px;
}
#rectangle .ad-1 {
	margin-right: 10px;
}
@media (min-width: 992px) and (max-width: 1200px) {
	#rectangle .ad-1,
	#rectangle .ad-2 {
		margin: 0;
	}
	#rectangle .ad-1 {
		margin: 0 0 20px 0;
	}
}
@media (max-width: 760px) {
	#adsense .ad-label {
		text-align: center;
	}
	#rectangle .ad-2,
	#rectangle .ad-2-row {
		display: none;
	}
	#rectangle,
	#rectangle .ad-1,
	#rectangle .ad-1-row {
		margin: auto;
		max-width: auto; max-width: initial; max-width: unset;
	}
}
@media (max-width: 540px) {
	#rectangle .ad-1,
	#rectangle .ad-1-row {
		width: 300px;
	}
}

/* Widget Area */
.head-under {
	margin-top: 20px;
}
.head-under, .post-title-upper, .post-title-under {
	margin-bottom: 20px;
}

/* Sitemap */
#sitemap li {
	border-left: 1px solid #000;
}

/* recentcomments */
.recentcomments a { display: inline; padding: 0; margin: 0; }

/*
------------------------------------
 Responsive Style
------------------------------------ */
#main {
	-webkit-box-flex: 0 1 772px;
	-webkit-flex: 0 1 772px;
	-moz-box-flex: 0 1 772px;
	-ms-flex: 0 1 772px;
	flex: 0 1 772px;
	max-width: 772px;
	min-width: 1px;
	float: left;
}
#side {
	-webkit-box-flex: 0 0 366px;
	-webkit-flex: 0 0 366px;
	-moz-box-flex: 0 0 366px;
	-ms-flex: 0 0 366px;
	flex: 0 0 366px;
	width: 366px;
	min-width: 1px;
	float: right;
}

/* 541px and over */
@media print, (min-width: 541px) {
	/* 一覧記事表示部分 */
	#list .term img {
		width: 150px;
		height: 150px;
		margin-right: 20px;
	}
	#list .excerpt {
		overflow: hidden;
	}
}

/* 992px and over */
@media (min-width: 992px) {
	#primary, #field {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -moz-box;
		display: flex;
	}
	#breadcrumb, .head-cover {
		display: block !important;
	}
	.sitename img {
		margin: 0;
	}
	#core {
		border-bottom: 1px solid #ddd;
	}
	.pnavi, .related, .discussion, .tb {
		margin-left: -15px;
		margin-right: -15px;
	}
}
/* 1200px and over */
@media (min-width: 1200px) {
	#core .comments-list,
	#comments h3,
	#respond {
		padding-left: 20px;
		padding-right: 20px;
	}
	#comments {
		margin: 0 -15px;
	}
	.pnavi, .related, .discussion, .tb {
		margin-left: -25px;
		margin-right: -25px;
	}
	.discussion {
		margin: 0 -10px 20px -10px;
	}
}

/* 画面幅による段階的幅調整 */
@media screen and (min-width: 768px) {
	.logo,
	#head-band-in,
	div[id*="head-band"] .band-menu,
	#header .head-cover {
		max-width: 744px;
	}
	#header #gnavi,
	#foot-in {
		max-width: 750px;
	}
}
@media screen and (min-width: 992px) {
	.logo,
	#head-band-in,
	div[id*="head-band"] .band-menu,
	#header .head-cover {
		max-width: 940px;
	}
	#header #gnavi,
	#foot-in {
		max-width: 970px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#main {
		-webkit-box-flex: 0 1 572px;
		-webkit-flex: 0 1 572px;
		-moz-box-flex: 0 1 572px;
		-ms-flex: 0 1 572px;
		flex: 0 1 572px;
		max-width: 572px;
		min-width: 1px;
	}
	#core, #list .toc {
		padding: 35px 15px 0 15px;
	}
}
@media screen and (min-width: 1200px) {
	.logo,
	#head-band-in,
	div[id*="head-band"] .band-menu,
	#header .head-cover {
		max-width: 1140px;
	}
	#header #gnavi,
	#foot-in {
		max-width: 1170px;
	}
}

/* 991px and under (サイドバーが下に来た時の調整) */
@media print, (max-width: 991px) {
	#primary, #main, #side {
		display: block;
		width: 100%;
		float: none;
	}
	.container {
		padding-left: 2px;
		padding-right: 2px;
	}
	#header #gnavi {
		padding-left: 0;
		padding-right: 0;
	}
	#core, #list .toc, .bottom-area, #side .widget, #col3 .widget {
		padding-left: 15px;
		padding-right: 15px;
	}
	#core, .bottom-area {
		margin: 0;
	}
	#main {
		margin-bottom: 30px;
	}
	#side .widget, #col3 .widget {
		padding-left: 10px;
		padding-right: 10px;
	}
	#related {
		margin: 0 -13px;
		padding: 30px 10px 0 10px;
	}
	#related .toc {
		margin-right: 15px;
	}
	.related {
		margin-bottom: 0;
	}
	.comments-list li.depth-1 > ul.children {
		padding-left: 0;
	}
	#comments{
		border-top: none;
	}
	#trackback {
		margin-top: -5px;
	}
	.pnavi, .related, .discussion, .tb {
		margin-left: -15px;
		margin-right: -15px;
	}
	div[id*="foot-in"] div[class*="col-xs-"] {
		float: none;
		width: 100%;
		display: none;
	}
	div[id*="side-"] {
		margin-bottom: 20px;
	}
	/* スクロール固定解除判定用 */
	#side-scroll {
		max-width: 32767px;
	}
}

/* 540px and under (より小さなデバイス向けの調整) */
@media (max-width: 540px) {
	#core, #list .toc, .bottom-area, #side .widget, #col3 .widget {
		padding-left: 5px;
		padding-right: 5px;
	}
	.meta, .post .meta {
		font-size: 12px; font-size: 1.2rem;
	}
	.pnavi, #related, .related {
		margin-left: -5px;
		margin-right: -5px;
	}
	#side .widget, #col3 .widget {
		margin-left: 0;
		margin-right: 0;
	}
	#comments, #trackback {
		margin-left: 5px;
		margin-right: 5px;
	}
	.discussion, .tb {
		margin: 0 -10px 20px -10px;
	}
	/* サムネイル位置調整 */
	#list .term img {
		margin: 0 15px 25px 0;
	}
	#related .term img {
		margin: 0 10px 20px 0;
	}
	#list .excerpt,
	#related .excerpt {
		padding-left: 0;
	}
	#related .toc {
		margin-top: 25px;
	}
	/* 抜粋の改行消す */
	.excerpt p {
		display: inline;
	}
	.excerpt br {
		display: none;
	}
	/* 記事を読むリンクをボタン風に変更 */
	.read-more-link {
		display: block;
		clear: both;
		padding: 7px 12px;
		background: #f8f7f6;
		border: 1px solid #ddd;
		border-radius: 20px;
		color: inherit;
		font-size: 12px; font-size: 1.2rem;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
	}
	.read-more-link,
	.read-more-link i {
		text-decoration: none;
	}
	#list .read-more-link {
		margin: 20px 0 30px 0;
	}
	#related .read-more-link {
		margin: 20px 0 0 0;
	}
	/* タイトル文字を全体的に小さくする */
	.entry-title, #front-page-title,
	.post h2, .post h3 {
		font-size: 18px; font-size: 1.8rem;
	}
	/* PAGE TOP ボタンをアイコンのみに変更 */
	#page-top {
		font-size: 20px; font-size:2.0rem;
		padding: 8px 14px;
	}
	.ptop {
		display: none;
	}
}
