/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* Widget Follow button */
#thk-follow {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 4px 0;
}
#thk-follow ul {
	display: table-row;
}
#thk-follow ul li {
	display: table-cell;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
}
#thk-follow .snsf {
	display: block;
	border-radius: 4px;
	padding: 1px;
	height: 100%;
	width: 100%;
}
#thk-follow a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	border: 3px solid #fff;
	border-radius: 2px;
	line-height: 1.2;
	letter-spacing: 0px;
	padding: 5px 0;
	color: #fff;
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, Roboto;
	text-align: center;
	text-decoration: none;
}
#thk-follow .fname {
	display: block;
	font-size: 10px;
}
#thk-follow a: hover {
	opacity: 0.7;
}

#thk-follow .twitter { background: #55acee; }
#thk-follow .facebook { background: #3b5998; }
#thk-follow .hatena { background: #3c7dd1; }
#thk-follow .google { background: #dd4b39; }
#thk-follow .youtube { background: #ae3a34; }
#thk-follow .line { background: #00c300; }
#thk-follow .rss { background: #fe9900; }
#thk-follow .feedly { background: #87bd33; }
