/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* Categories & Archive DropDown */
.widget_categories, .widget_archive {
	margin-bottom: 5px;
}
.widget_categories select, .widget_archive select {
	padding: 15px 13px;
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 4px 6px;
	border-radius: 4px;
}
