/* WpTHK WordPress Theme - free/libre wordpress platform
 *
 * @copyright Copyright (C) 2015 Thought is free.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GPL v2 or later
 * @author LunaNuko
 * @link http://thk.kanzae.net/
 * @translators rakeem( http://rakeem.jp/ )
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* Widget Recentcomments Comments*/
ul#thk-rcomments {
	margin-top: -5px;
	margin-left: 5px;
}
#thk-rcomments li,
#thk-rcomments li a {
	background: none;
	font-size: 12px; font-size: 1.2rem;
}
#thk-rcomments li {
	margin: 0;
	border-bottom: 1px dotted #ddd;
}
#thk-rcomments li a {
	text-decoration: underline;
}
#thk-rcomments li:last-child {
	border-bottom: none;
}
#thk-rcomments .comment_post {
	margin-left: 10px;
}
#thk-rcomments .widget_comment_author,
#thk-rcomments .widget_comment_author a {
	margin: auto 0;
	padding: 15px 0 0 0;
	min-height: 40px;
	color: #767574;
	font-size: 12px; font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5;
}
#thk-rcomments .widget_comment_author img {
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}
#thk-rcomments .widget_comment_author span {
	display: block;
	margin: auto 0;
	overflow: hidden;
}
#thk-rcomments .fa-comment-o {
	margin-right: 5px;
	color: #ff0000;
}
#thk-rcomments .fa-angle-double-right {
	margin-right: 5px;
}
#thk-rcomments .comment_excerpt {
	clear: both;
	margin: 10px 0 10px 10px;
	font-size: 12px; font-size: 1.2rem;
	line-height: 1.8;
}
#thk-rcomments .comment_post {
	display: block;
	margin: 0 0 10px 15px;
}
